.main-container{
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1;
    display: flex;
    margin: 10px;
}

.box{
    padding: 10px;
    margin: 10px;
    flex: 1;
    border: 1px solid gold;
    background-color: lightgoldenrodyellow;
}

#top-container{
    border: 2px solid greenyellow;
    background-color: orange;
}

#box1, #box2{
    flex: 1;
    text-align: center;
}

#middle-container{
    justify-content: center;
    border: 2px lightblue;
    background-color: aqua;
}

#box3{
    text-align: center;
    width:
    height: 
}

#bottom-container{
    flex: 2;
}

#box5{
    display:grid;
    text-align: center;
    grid-template-areas: 
            "box1 box2"
            "box3 box4"
       ;
}

#box6{
    grid-area: box1;
}

#box7{
    grid-area: box2;
}

#box8{
    grid-area: box4;
}

#box9{
    grid-area: box3;
}